
{% extends "base.html" %}

{% block title %}Season Stats{% endblock %}

{% block content %}
    <div class="p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-2"><a href="/season" class="text-reset text-decoration-none">Season Stats</a></h1>
    </div>

    <div class="container">
        <div class="row align-items-center">
            <div class="dropdown">
                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ choice }}
                </button>
                <ul class="dropdown-menu" style="max-height: 500px; overflow-y: auto;">
                  {% for option in options %}
                    <li><a class="dropdown-item" href="/season/{{ option }}" aria-current="true">{{ option }}</a></li>
                  {% endfor %}
                </ul>
            <div class="col">
                <ul class="list-group list-group-flush">
                    {% for stat in stats %}
                    <li class="list-group-item"><a href="/player/{{ stat.players.id }}" class="text-reset text-decoration-none">
                        <div class="container d-flex justify-content-between align-items-center">
                            <div class="d-flex gap-2 align-items-center">
                                {% if g.user %}
                                    <form method="POST" action="/{{ stat.players.id }}/favorite">
                                        <button class="btn btn-sm {{ 'btn-primary' if stat.players.id in favorites_ids else 'btn-secondary' }}"><span class="material-symbols-outlined">
                                            star
                                            </span></button>
                                    </form>
                                {% endif %}
                                {{ stat.players.name }}
                            </div>
                        </a>
                            <div class="d-flex">
                                <div class="text-center me-4">
                                    <p>Games</p>
                                    <p>{{ stat.games }}</p>
                                </div>
                                <div class="text-center me-4">
                                    <p>Points</p>
                                    <p>{{ stat.points }}</p>
                                </div>
                                <div class="text-center me-4">
                                    <p>Assists</p>
                                    <p>{{ stat.assists }}</p>
                                </div>
                                <div class="text-center">
                                    <p>Rebounds</p>
                                    <p>{{ stat.trb }}</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>    
{% endblock %}