{% extends "base.html" %}

{% block title %}Player{% endblock %}

{% block content %}
    <div class="p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-2"><a href="/player" class="text-reset text-decoration-none">{{ player.players.id }}</a></h1>
    </div>

    <div class="container">
        <div class="row align-items-center gap-2">
            <div class="dropdown">
                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ player.players.name }}
                </button>
                <ul class="dropdown-menu" style="max-height: 500px; overflow-y: auto;">
                  {% for player in players %}
                    <li><a class="dropdown-item" href="/player/{{ player.id }}" aria-current="true">{{ player.name }}</a></li>
                  {% endfor %}
                </ul>
            </div>
            <div class="dropdown">
                <button type="button" class="btn btn-primary dropdown-toggle mb-4" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ player.tournaments.year }}
                </button>
                <ul class="dropdown-menu" style="max-height: 500px; overflow-y: auto;">
                  {% for tournament in tournaments %}
                      <li><a class="dropdown-item" href="/player/{{ player.id }}">{{ tournament.year }}</a></li>
                  {% endfor %}
                </ul>
            </div>
        </div>

        <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 g-3">
            <div class="col">
                <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                    <div class="card-header">Age</div>
                    <div class="card-body">
                      <h5 class="card-title">{{ player.players.age }}</h5>
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                    <div class="card-header">Games Played</div>
                    <div class="card-body">
                      <h5 class="card-title">{{ player.games }}</h5>
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                    <div class="card-header">Minutes Played</div>
                    <div class="card-body">
                      <h5 class="card-title">{{ player.minutes_played }}</h5>
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                    <div class="card-header">Points</div>
                    <div class="card-body">
                      <h5 class="card-title">{{ player.points }}</h5>
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                    <div class="card-header">Assists</div>
                    <div class="card-body">
                      <h5 class="card-title">{{ player.assists }}</h5>
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                    <div class="card-header">Blocks</div>
                    <div class="card-body">
                      <h5 class="card-title">{{ player.blocks }}</h5>
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                    <div class="card-header">Steals</div>
                    <div class="card-body">
                      <h5 class="card-title">{{ player.steals }}</h5>
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                    <div class="card-header">Turn Overs</div>
                    <div class="card-body">
                      <h5 class="card-title">{{ player.tov }}</h5>
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                    <div class="card-header">Effective FG %</div>
                    <div class="card-body">
                      <h5 class="card-title">{{ percent }}%</h5>
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                    <div class="card-header">Rebounds</div>
                    <div class="card-body">
                      <h5 class="card-title">{{ player.trb }}</h5>
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                    <div class="card-header">Offensive Rebounds</div>
                    <div class="card-body">
                      <h5 class="card-title">{{ player.orb }}</h5>
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                    <div class="card-header">Defensive Rebounds</div>
                    <div class="card-body">
                      <h5 class="card-title">{{ player.drb }}</h5>
                    </div>
                  </div>
            </div>
        </div>
    </div>

    <div class="p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-2"><a href="/season" class="text-reset text-decoration-none">Teams Played For</a></h1>
    </div>

    <div class="container">
        <div class="row align-items-center">
            <div class="col">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="#" class="text-reset text-decoration-none">An item</a></li>
                    <li class="list-group-item"><a href="#" class="text-reset text-decoration-none">A second item</a></li>
                    <li class="list-group-item"><a href="#" class="text-reset text-decoration-none">A third item</a></li>
                    <li class="list-group-item"><a href="#" class="text-reset text-decoration-none">A fourth item</a></li>
                    <li class="list-group-item"><a href="#" class="text-reset text-decoration-none">And a fifth one</a></li>
                </ul>
            </div>
        </div>
    </div>    
{% endblock %}