{% extends "base.html" %}

{% block title %}Player Name{% endblock %}

{% block content %}
    <div class="p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-2"><a href="/shots" class="text-reset text-decoration-none">Shot Stats</a></h1>
    </div>

    <div class="container">
        <div class="row align-items-center gap-2">
            <div class="d-grid gap-2">
                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Player
                </button>
                <button type="button" class="btn btn-primary dropdown-toggle mb-4" data-bs-toggle="dropdown" aria-expanded="false">
                    Season
                </button>
            </div>
        </div>

        <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 g-3">
            <div class="col">
                <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                    <div class="card-header">Field Goals Made</div>
                    <div class="card-body">
                      <h5 class="card-title">345</h5>
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                    <div class="card-header">Field Goal Attemps</div>
                    <div class="card-body">
                      <h5 class="card-title">45</h5>
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                    <div class="card-header">Field Goal %</div>
                    <div class="card-body">
                      <h5 class="card-title">45%</h5>
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                    <div class="card-header">Three Pointers Made</div>
                    <div class="card-body">
                      <h5 class="card-title">32</h5>
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                    <div class="card-header">Three Pointe Attemps</div>
                    <div class="card-body">
                      <h5 class="card-title">300</h5>
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                    <div class="card-header">Three Pointer %</div>
                    <div class="card-body">
                      <h5 class="card-title">10%</h5>
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                    <div class="card-header">Two Pointer Made</div>
                    <div class="card-body">
                      <h5 class="card-title">1,000</h5>
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                    <div class="card-header">Two Pointer Attemps</div>
                    <div class="card-body">
                      <h5 class="card-title">2,000</h5>
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                    <div class="card-header">Two Pointer %</div>
                    <div class="card-body">
                      <h5 class="card-title">50%</h5>
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                    <div class="card-header">Free Throws Made</div>
                    <div class="card-body">
                      <h5 class="card-title">8</h5>
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                    <div class="card-header">Free Throw Attemps</div>
                    <div class="card-body">
                      <h5 class="card-title">10</h5>
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                    <div class="card-header">Free Throw %</div>
                    <div class="card-body">
                      <h5 class="card-title">80%</h5>
                    </div>
                  </div>
            </div>
        </div>
    </div>
{% endblock %}